body{
    background-color: #C5EBAA;
}

h1{
    color: blue;
    text-align: center;
}

.navigation{
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    border: 2px groove #F2C18D;
}

.container{
    display: flex;
    align-items: center;
    margin: 10px;
}

p{
    padding: 10px;
}

button{
    height: 30px;
    width: 70px;
    margin: 10px;
    color: blueviolet;
    background-color: #F2C18D;
    border-radius: 5px;
}