body {
  margin: 0;
  background-color: #f6fdc3;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#wrap {
  overflow: hidden;
  position: relative; /* IE7 needs this */
  width: 20%;
  margin-left: 40%;
}

.topnav {
  float: left;
  position: fixed;
  background-color: #ffcf96;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffcf96;
  color: #ff8080;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #cdfadb;
  color: black;
}

.main {
  padding: 16px;
  height: 100vh;
  background-size: cover;
  background: url(./images/laroca.png);
  background-size: cover;
  height: 100%;
  width: 100%;
}

/*.bgSizeCover {
  background: url(./images/laroca.png);
  background-size: cover;
  height: 100%;
  width: 100%;
}*/

h1 {
  text-align: center;
  padding-top: 15%;
  color: #164863;
  font-size: 60px;
}
#p1 {
  text-align: center;
  padding-top: 2%;
  color: #164863;
  font-size: 40px;
}

.about {
  padding: 16px;
  height: 70vh;
}

h2 {
  text-align: left;
  color: #164863;
  font-size: 40px;
  margin-left: 5%;
  margin-top: 100px;
}

#p2 {
  margin-left: 5%;
  color: #427d9d;
  font-size: 20px;
}

#table {
  margin-left: 5%;
  text-align: left;
  color: #ce5937;
  width: 90%;
}

table td,
table th {
  padding: 10px 15px;
  width: 50%;
}

.footer {
  text-align: bottom;
  font-size: 13px;
  padding: 20px;
  line-height: 1.2;
  margin-left: 10px;
}

.container {
  display: flex;
  align-items: center;
  margin: 5px;
  width: 100%;
}

.container td {
  width: 50%;
}
